{% extends 'base.html'%}


{% block content%}

<div class="container" style="padding-top:70px;">

    <h4>Blog Master<p><a href="/blog/new">Blog on this amazing articles</a></p>
    </h4>
    <div class="row">

        {% for blog in blogs %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Category: {{ blog.category }}</h4>
                </div>

                <div class="panel-body">
                    <p> {{ blog.title }}</p>
                    <p>{{ blog.content }} </p>
                    <p>{{ blog.posted}}</p>
                    <div class="panel-footer">comment <a href="/blog/{{blog.id}}">Here</a>
                    {% if current_user.is_authenticated %}
                   <p>delete:<a href="/delete/{{blog.id}}">Delete Blog</a></p>
                   </div>
                   {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content%}