{% extends 'base.html'%}


{% block content%}

<body style="background-color:#B6B0AE  ;">

<div class="container" style="padding-top:50px; margin-top: 80px">
    
       
    <div class="row">

        {% for blog in blogs %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Category: {{ blog.category }}</h4>
                </div>

                <div class="panel-body">
                    <p> {{ blog.title }}</p>
                    <p>{{ blog.content }} </p>
                    <p>{{ blog.posted}}</p>
                    <div class="panel-footer">
                    {% if current_user.is_authenticated %}
                   <p><a href="/blog/{{blog.id}}"> <button class="btn btn-primary btn-sm">Comment</button> </a> <a href="/delete/{{blog.id}}"> <button class="btn btn-warning btn-sm">Delete</button> </a></p>
                   </div>
                   {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content%}